<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users List</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <header>
      <span><a href="/">Home</a></span>
      <span>Welcome to User Diary</span>
      <span><a href="/users/new">Add New User</a></span>
    </header>
    <section>
      <div class="border">
        <p>! Fields are required</p>
        <form action="/users" method="POST">
          <span
            ><label for="name">
              Name (!)
              <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                placeholder="Enter Name"
                required
              /> </label
          ></span>
          <span
            ><label for="email">
              Email (!)
              <input
                class="form-control"
                type="email"
                name="email"
                id="email"
                placeholder="Enter Email"
                required
              /> </label
          ></span>
          <span
            ><label for="age">
              Age
              <input
                class="form-control"
                type="number"
                name="age"
                id="age"
                placeholder="Enter Age"
                required
              /> </label
          ></span>
          <span
            ><label for="address">
              Address
              <input
                class="form-control"
                type="text"
                name="address"
                id="address"
                placeholder="Enter Address"
                required
              /> </label
          ></span>
          <span
            ><label for="bio">
              Bio
              <textarea
                class="form-control"
                name="bio"
                id="bio"
                cols="30"
                rows="10"
                placeholder="Enter bio"
                required
              ></textarea></label
          ></span>
          <span
            ><label for="hobbies">
              Hobbies
              <input
                class="form-control"
                type="text"
                name="hobbies"
                id="hobbies"
                placeholder="Enter Hobbies"
                required
              /> </label
          ></span>
          <input class="submit-btn" type="submit" value="Add User" />
        </form>
      </div>
    </section>
  </body>
</html>
