<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>
  <body>
    <header>
      <span><a href="/">Home</a></span>
      <span>Welcome to User Diary</span>
      <span><a href="/users/new">Add New User</a></span>
    </header>
    <button class="btn">
      <a href="/users">Users List</a>
    </button>
  </body>
</html>
