body {
  background-color: wheat;
  line-height: 1.5;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 10px;
}

input {
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  border: 2px solid gray;
}

button[type='submit'] {
  padding: 5px 16px;
  background-color: blue;
  font-size: 1rem;
}

.edit-btn {
  background-color: blue;
}

.delete-btn {
  background-color: crimson;
}

a {
  text-decoration: none;
}

.home-btn {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.home-btn button {
  padding: 10px 22px;
  background-color: coral;
}
